ul {
    list-style: none;
    padding-left: unset;
}
a {
    text-decoration: none;
}
body {
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin-top: unset;
    margin-bottom: unset;
}
html {
    font-family: 'Open Sans';
}
.container {
    width: 1660px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
*{box-sizing: border-box;}



.focus__bg:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -5px;
    bottom: -5px;
    right: -5px;
    left: -5px;
    background-color: #7943A4;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
.focus__bg:focus-visible::before {
    opacity: 1;
}
:focus-visible {
  outline: 0;
}

/*Header*/
.header__top {
    background: black;
    min-height: 100px;
    display: flex;
    justify-content: center;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-right: auto;
}

.header__nav {
    display: block;
    width: calc(71% + 4px);
}

.header__list {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    width: calc(71% + 5px);
}

.header__item {
    color: white;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    z-index: 1;
    font-size: inherit;
}


.header__item:hover {
   color:#C283F3; 
}
.header__item:active {
    color: #9D5CD0;
}
.header__item:focus-visible:active {
  color: white;
}











.header__top {
  background-color: #090a0a;
}

.header__item:not(:last-child) {
  margin-right: 45px;
}
.header__btn-open {
  display: none;
  background: black;
  border: none;
}

.nav__close {
  display: none;
}
@media (max-width: 1260px) {
  .header__btn-open,
  .nav__close {
    display: block;
  }
  .header {
    position: relative;
    overflow: hidden;
  }
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    padding: 40px;
    width: 100%;
    height: 769px;
    opacity: 0;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  }
  .header__nav.active {
    transform: translateX(0);
    opacity: 1;
    padding: 38px 40px 38px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60%;
    gap: 40px;
    margin-top: unset;
  }
  .header__link {
    color: white;
    font-size: 24px;
   
    font-weight: 600;
  }
  .header__item:not(:last-child) {
    margin-right: 0;
   /* margin-bottom: 35px;*/
  }
  .nav__close {
    width: 37.5px;
    height: 37.5px;
    padding: unset;
    margin-bottom: 42px;
    background: #090a0a;
    border: none;
  }
  
}












































.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 78%;
    position: relative;
}

.header__navigation a {
  position: relative;
  z-index: 1;
    font-size: 18px;
    line-height: 25px;
    color: white;
    transition: 200ms;
}
.header__navigation a:hover {
    color: #C283F3;   
}
.header__navigation a:active {
    background: none;
    color: #9D5CD0;
}
.header__navigation a:hover svg path {
    fill: #C283F3;
}
.header__navigation a:active svg path {
    fill: #9D5CD0;
}
.header__entrance img {
    padding-right: 7px;
}



.content-wrapper{
    margin-top: 78px;
    padding: 10px;
    line-height: 34px;
}

.header__bottom {
    min-height: 70px;
    background: rgba(0, 0, 0, 0.404);
    display: flex;
   /*align-items: center;*/
}


/*dropdown-menu*/
ul {
    list-style: none;
    padding: 0;
  }
  .list {
    display: flex;
    width: calc(64% + 3px);
    justify-content: space-between;
  }
  .list--item {
    position: relative;
    transition: 600ms;
  }
  .list--item__btn {
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-start;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    font-family: inherit;
    padding: unset;
    transition: 300ms;
  }
  
  .list--item__btn svg {
    margin-top: 4px;
  }
  .list--item__btn:hover {
    color:  #C283F3;
  }
  .list--item__btn:active {
    color: #7943A4;
  }
  .list--item__btn:focus-visible {
      color: #eeeaf1;
  }
  .list--item__btn:focus-visible svg path {
    stroke: white;
  }
  .list--item__btn:hover svg path{
    stroke: #9D5CD0;
  }
  .list--item__btn.active--btn {
      color:  #c390ec;
  }
  .list--item__btn.active--btn:focus-visible {
      color: white
  }
  .list--item__btn.active--btn:focus-visible svg path {
    stroke: white
}
  .list--item__btn.active--btn svg {
      transform: rotate(180deg);
      transition: 250ms;
  }
  .list--item__btn.active--btn svg path {
      stroke:  #c89feb;
  }
  
  
  .container--dropdown {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 46px;
    z-index: 5;
    display: none;
  }
  
  .container--dropdown-list__item {
    padding: 20px;
  }
  .container--dropdown-list__item:last-child {
    border: 0;
  }
  
  .active-list--item {
    display: block;
  }
  
  /*------*/
  /*Simplebar*/
  
  .simplebar {
    width: 241px;
    height: 220px;
    margin-left: 40px;
    margin-top: 40px;
    
  }
  .simplebar__item a {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #fff; 
    padding-left: 14px;
    position: absolute;
    z-index: 2;

  }
  .simplebar__item {
    display: flex;
    align-items: center;
    width: 220px;
    height: 40px;
    margin-bottom: 20px;
    position: relative;
  }
  .simplebar__item:before {
    content: '';
    background-color: rgba(194, 131, 243, 0.3);
    width: 220px;
    height: 40px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: 300ms;
    outline: 2px solid #c388f0;
  }
  .simplebar__item:hover {
    outline: 2px solid #9D5CD0;
  }
  .simplebar__item:active:before {
    opacity: 1;
  }
  .simplebar__item:last-child {
    margin-bottom: 0px;
  }
  .simplebar-content-wrapper {
    padding: 2px;
  }
  .simplebar .simplebar-track.simplebar-vertical {
    background-color: grey;
    width: 2px;
  }
.simplebar-scrollbar {
    width: 2px;
    height: 28px;
    background-color: white;
  }
 
 /*--------*/

.header__bottom-form {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 9px;
}
.header__bottom-form-item {
    width: 218px;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

::placeholder {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 6px;
    font-family: inherit;
}

.header__bottom-form-item:hover {
    border-bottom: 1px solid #9D5CD0;
}
#search:focus {
    outline: none;
    color: white;
}







/*hero*/

.hero__container {
    width: 1660px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 63px;
    padding-bottom: 122px;
    position: relative;
    z-index: 1;
  }


.hero {
    position: relative;
    height: 100%;
  }
  .hero .swiper {
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .swiper-slide:nth-child(1) {
    background: url('img/hero-slide1.jpg') no-repeat;
    background-size: cover;
    background-position: center;   
  }
  .swiper-slide:nth-child(2) {
    background: url('img/hero-slide-2.png') no-repeat;
    background-size: cover;
    background-position: center;
  }
  .swiper-slide:nth-child(3) {
    background:url('img/hero-slide3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }



.hero__head {
    color:white;
    max-width: 597px;
    font-size: 72px;
    line-height: 89px;
    font-weight: 700;
}
.hero__text {
    color: white;
    max-width: 597px;
    margin-top: 16px;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 91px;
    font-weight: 700;
}
.hero__bth {
    width: 314px;
    height: 70px;
    background: #9D5CD0;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    border: unset;
}

.hero__bth:hover {
    border: 2px solid #C283F3;
}
.hero__bth:active {
    background: #7943A4;
    border: 3px solid #D1A9F0;
}


/*About__US*/
.about__us-container {
  padding-top: 75px;
  padding-bottom: 72px;
}
.section__head {
    margin-bottom: 17px;
    font-size: 48px;
    line-height: 65px;
    font-weight: 400;
}
.about__us-text {
    max-width: 1080px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    margin-top: unset;
    margin-bottom: unset;
}


/*gallery*/



.choices {
  background: transparent;
  color: white;
  max-width: 400px;
}

.choices__inner {
  background: transparent;
  border-radius: 6px;
  width: 400px;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 7px;
  font-size: 16px;
  line-height: 32px;
  position: relative;
}
.choices__inner.choices.is-open {
  border-radius: 6px;
}
.choices__inner:hover {
  background: rgba(255, 255, 255, 0.2);
}
.choices__list {
  background: transparent;
  border-radius: 6px;
  position: absolute;
  z-index: 5;
}
.choices[data-type*=select-one]:after {
  content: '';
  width: 12px;
  height: 9px;
  border: unset;
  background: url('img/Arrow.svg') no-repeat;
  background-position: center;
  transition: 300ms;
}
.choices[data-type*=select-one].is-open:after {
  transform: rotate(180deg);
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}
.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
  content: '';
  opacity: 0;
}








.swiper-section {
    background: url('img/gallery-background.jpg');
    padding-top: 80px;
    padding-bottom: 70px;
    color: #fff;
  }
  
 
  
  
  .list__name {
    color: white;
    margin-bottom: 15px;
  }
  
  .swiper-section .container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
  }
  
  .swiper-left--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: 843px;
    color: white;
  }
  .swiper-left--content-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: unset;
  }
  
  .swiper-right--content {
    max-width: 1200px;
    width: 100%;
    overflow: hidden;
  }
  .none {
    display: none;
  }
  .swiper-right--content .swiper-wrapper {
      height: 750px;
  }
  .swiper-btn--prev, .swiper-btn--next {
    width: 30px;
    height: 30px;
    background: #666666;
    border: unset;
    border-radius: 50%;
    padding: 9px 10px 9px 10px;
  }
  .swiper-btn--prev {
    margin-right: unset;
  }
  .sw-bth {
    border-color: white;
  }
  .swiper-btn--prev:hover, .swiper-btn--next:hover {
    background: #9D5CD0;
  }
  .swiper-btn--prev:active, .swiper-btn--next:active {
    background: #7943A4;
  }
  .sw-btn.swiper-button-disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  
  .swiper-section .swiper-slide {
    background-color: grey;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: calc((100% - 50px) / 2);
    background-size: cover;
    background-position: center;
  }
  .swiper-section .swiper-slide:before {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: 20px;
    left: 20px;
    background-color: rgba(0,0,0,0.5);
    background-image: url("img/Lupa.svg");
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0;
    transition-property: z-index, opacity;
    transition: .3s ease-in-out;
  }
  .gallery__slide:focus {
    border: 3px solid #7943A4;
    box-sizing: border-box;
  }
  .swiper-slide.slides-active {
    display: block;
  }
  .swiper-slide:hover:before {
    z-index: 1;
    opacity: 1;
  }
  .swiper-right-btns {
    display: flex;
    gap: 11px;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .swiper-pagination--right {
    max-width: 50px;
    text-align: center;
  }
  
  
  
  
  .swiper-slide--img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
  }
  
 




















@font-face {
    font-family: "Open Sans";
    src: url("fonts/opensans.woff2") format('woff2'),
      url("fonts/opensans.woff") format('woff');
      font-weight: 400;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("fonts/opensanssemibold.woff2") format('woff2'),
      url("fonts/opensanssemibold.woff") format('woff');
      font-weight: 600;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("fonts/opensansbold.woff2") format('woff2'),
      url("fonts/opensansbold.woff") format('woff');
      font-weight: 700;
  }
















  @media(min-width: 1265px) {
      .header__entrance-search {
          display: none;
      }
      .header__top-burger {
          display: none;
      }
      .swiper-right--content p {
        display: none;
      }
      .gallery__text-bottom {
        display: none;
      }
      
      
  }



@media(max-width: 1264px){
   .container {
     padding: 0 50px;
   }
   .about__us-container {
     padding-top: 70px;
     padding-bottom: 70px;
   }
   .swiper-left--content {
     height: unset;
   }
  .swiper-right--content .swiper-wrapper {
        height: 594px;
      }
     .swiper-right--content p {
       display: none;
     }
   .swiper-left--content {
     width: 284px;
     max-width: 100%;
   }
  .header__bottom {
        display: none;
    }
  .header__navigation {
        display: none;
    }
    .list__name {
      display: block;
    }
    
  .header__logo {
        margin: unset;
    }
    
  .header__btn-open,
  .nav__close {
    display: block;
  }
  .header {
    position: relative;
    overflow: hidden;
  }
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    padding: 40px;
    width: 100%;
    height: 769px;
    opacity: 0;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
  }
  .header__nav.active {
    transform: translateX(0);
    opacity: 1;
    padding: 38px 40px 38px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60%;
    gap: 40px;
    margin-top: unset;
  }
  .header__link {
    color: white;
    font-size: 24px;
   
    font-weight: 600;
  }
  .header__item:not(:last-child) {
    margin-right: 0;
   /* margin-bottom: 35px;*/
  }
  .nav__close {
    width: 37.5px;
    height: 37.5px;
    padding: unset;
    margin-bottom: 42px;
    background: #090a0a;
    border: none;
  }
    .hero__container {
        padding-top: 105px;
        padding-bottom: 114px;
    }
  
    .header__nav-entrance {
      background: transparent;
      width: 257px;
      height: 60px;
      font-size: 18px;
      line-height: 25px;
      color: white;
      padding: 19px 88px 22px 88px;
      border: 2px solid #9D5CD0;
      border-radius: 100px;
      font-family: inherit;
      margin-top: 70px;
    }
    .gallery__text-bottom {
      display: none;
    }
   
}

@media(max-width: 988px) {
      

      .hero__container {
        padding-top: 105px;
        padding-bottom: 114px;
      }
      .swiper-section .container {
        padding: 0 50px;
      }
      .swiper-left--content-text {
        display: none;
      }
      .swiper-right--content p {
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
      }
      .header__btn-open svg {
        width: 36px;
        height: 28px;
      }

      .swiper-section .container {
        flex-direction: column;
      }
      .swiper-right--content {
        max-width: 100%;
      }
      .gallery__text-bottom {
        display: block;
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
      }


}


@media(min-width: 521px) and (max-width: 620px) {
       .hero__head {
           font-size: 50px;
       }
      .swiper-right--content .swiper-wrapper {
         height: 397px;
      }
      .swiper-section .swiper-slide {
        height: calc(100%);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
}





@media(max-width: 520px) {
     .container {
         padding: 0 15px;
     }

     /*header*/
     .header__logo img {
         width: 97px;
         height: 22px;
     }
     .header__top {
         min-height: 45px;
     }
     .header__navigation {
         width: 25px;
         height: 25px;
     }
     .header__btn-open svg {
       width: 25px;
       height: 18px;
     }
     .header__link {
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
     }
     .header__list {
       gap: unset;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       height: 224px;
       margin-bottom: unset;
     }
     .header__nav-entrance {
       width: 115px;
       height: 40px;
       margin-top: 10px;
       padding: unset;
       font-weight: 600;
       font-size: 12px;
       line-height: 16px;
       font-family: inherit;
     }
     .header__nav.active {
      transform: translateX(0);
      opacity: 1;
      padding: 15px 40px 27px 15px;
      display: flex;
      height: 355px;
      flex-direction: column;
      justify-content: flex-start;
    }
     .header__entrance-search img {
         width: 18px;
         height: 18px;
         padding-right: unset;
     }
    .nav__close {
       margin-bottom: 16px;
     }
     /*----------*/
     /*about_us*/
     .about__us-container {
       padding-top: 50px;
       padding-bottom: 50px;
     }
     .about__us-head {
       font-size: 28px;
       line-height: 38px;
       margin-top: unset;
     }
     .about__us-text {
        font-size: 14px;
        line-height: 28px;
     }
    /*----------*/
    /*hero*/
     .hero {
         
         padding-top: 30px;
         max-width: 100%;
         min-height: 310px;
         text-align: center;
     }
     
     .hero__head {
        font-size: 32px;
        line-height: 44px;
        text-align: center;
     }
     .hero__text {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 20px;
        text-align: center;
     }
     
     .hero__bth {
         width: 200px;
         height: 40px;
         font-size: 12px;
         line-height: 16px;
     }
     /*----------*/
     /*gallery*/
    
     .gallery__head {
      font-size: 28px;
      line-height: 38px;
     }
     .swiper-left--content-text {
       display: none;
     }
     .swiper-right--content .swiper-wrapper {
       height: 367px;
     }
     .swiper-section .container {
       padding: 0 15px;
     }
     .swiper-right--content {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .gallery__text-bottom {
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
    }
    .swiper-right--content .swiper-wrapper {
      order: 1;
      margin-bottom: 40px;
    }
    .swiper-section .swiper-slide {
      height: calc(100%);
      background-size: contain;
      background-position: center;
    }
    .swiper-right-btns {
      order: 2;
      margin-bottom: 0;
    }
    .swiper-left--content {
      margin-bottom: 40px;
    }
    /*-----------*/






}